/* 전체 페이지 스타일 */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* 화면 전체 높이를 유지 */
  height: 100vh;
  background: #676d63; /* 기본 배경색 */
}
